@font-face{
	font-family: GOTHIC;
	src:url("../fonts/GOTHIC.TTF");
}
@font-face{	
	font-family: GILC____;
	src:url("../fonts/GILC____.TTF");
}
@font-face{	
	font-family: calibri;
	src:url("../fonts/calibri.ttf");
}

@font-face{	
	font-family: GOTHICB;
	src:url("../fonts/GOTHICB.TTF");
}

body {
  height: 100%;
  width: 100%;
  background-image: url("../img/background.png");
}

.navbar{
	border:none;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	background-image: url("../img/background.png");
	cursor: pointer;
}

#allpage {
	background-color: #2B394A;
	height:100%;
	margin-top: 0;
	position: fixed;
}

#deepblue {
	height:100%;
	margin-top: 0;
	position: absolute;
}

#deepblue2 {
	height:100%;
	margin-top: 50%;
	position: absolute;
}

#deepblue3 {
	height:100%;
	margin-top: 100%;
	position: absolute;
}

#deepblue4 {
	height:100%;
	margin-top: 150%;
	position: absolute;
}


#logo{
	height:45px;
    width:auto;
}

.nav a{
	font-family: GOTHIC;
	font-size: 20px;
	color: #2B394A;
	border-bottom: 3px solid transparent;
	transition: border-bottom 0.5s ease-in;
}

.nav a:hover , .nav a:active {
	border-bottom: 3px solid #2B394A;
}

/*home*/

#home {
	position: absolute;
	height: 100%;
	text-align: center;
}

#fintech {
	font-family: GILC____;
	font-size: 180px;
	color: #FFFFFF;
	letter-spacing: 28px;
	margin-top:9%;
	z-index: 1;
	position: absolute;
	right: 0;
	left: 0;
}


#page1_img img{
	height:395px;
	margin-top: 48%;
    width:auto;
    right:10px;
    position: relative;
    top: 100px;
}

#page1_card img{
	height:180px;
	margin-top: 420%;
	margin-right: -60%;
    width:auto;
    right:262px;
    position: absolute;
    top: 100px;
    z-index: -1;
}

#experience {
	width: 50%;
	height: 10%;
	margin: 60% 40% 0% -8%;
	padding-top: 0%;
	position: absolute;
}

#experience p{
	display: inline;
	font-family: GOTHIC;
	font-size: 20px;
	color: white;
	position: relative;
	z-index: 5;
	letter-spacing: 0.5px;
}

#mouse_line {
	margin-top: 0%;
	width: 10%;
	height: 100%;
	z-index: 3;
	margin-left: 46%;
	position: relative;
}

#mouse_line img {
	height: 200%;
}


#mouse_icon img{
	width: 5%;
	height: auto;
	margin-top: -20%;
	margin-left: 1.98%;
    -webkit-animation: mymove 2s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 2s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    0%   {margin-top: -20%;}
    100% {margin-top: 9%;}
}

/* Standard syntax */
@keyframes mymove {
    0%   {margin-top: -20%;}
    100% {margin-top: 9%;}
}

/**ABOUT**/
#about{
	text-align: center;
	margin-top: 0;
	position: absolute;
}

#page2_back {
	background-color: #BB956B;
	height:420px;
	width:850px;
	margin-top:18%;
    margin-left:-18%;
    position: relative;
    z-index: 2; 
}

#page2_write img{
	float:left;
	height:450px;
    width:auto;
    position: relative;
    margin-left: -108%;
    margin-top: 10%;
    z-index: 4;
}

#page2_about img{
	float:left;
	height:400px;
    width:auto;
    position: relative;
    margin-left:400%;
    margin-top:130%;
    z-index: 3;
}

#mouse_line2 img {
	height: 200%;
	z-index: 5;
	margin-bottom: 100%;
	margin-left: 20%;
}


#mouse_icon2 img{
	width: 5%;
	height: auto;
	margin-top: -100%;
	margin-left: 20%;
    -webkit-animation: mymove 2s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 2s infinite;
    z-index: 5;
}


/**VIDEO**/
#video{
	text-align: center;
	margin-top: 0;
	position: absolute;
}

#page3_back {
	background-color: #C35048;
	height:420px;
	width:880px;
	margin-top:18%;
    margin-left:12%;
    position: relative;
    z-index: 2; 
}

#page3_word img{
	float:left;
	height:400px;
    width:auto;
    position: relative;
    margin-left: -50%;
    margin-top: -65%;
    z-index: 3;
}

#mouse_line3 img {
	height: 200%;
}


#mouse_icon3 img{
	width: 5%;
	height: auto;
	margin-top: -20%;
	margin-left: 1.98%;
    -webkit-animation: mymove 2s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 2s infinite;
}

#page3_video {
	position: relative;
  	height: 450px;
  	width: 800px;
  	padding-bottom: 56.25%;
  	padding-top: 35px;
	display: inline;
	overflow: hidden;
	float:left;
    margin-left:5%;
    margin-top:10%;
    z-index: 4;
}

#page3_video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 800px;
	height: 450px;
}



/**login**/
#login{
	text-align: center;
	margin-top: 0;
	position: absolute;
}

#page4_back {
	position: relative;
	background-color: #2A293B;
	height:600px;
	width:1050px;
	margin-top: 12%;
	margin-left: -10%
}

#page4_iphone img{
	float:left;
	height:450px;
    width:auto;
    position: relative;
    margin: 8% 8% 8% 8%;
}

#mouse_line4 img {
	height: 200%;
}


#mouse_icon4 img{
	width: 5%;
	height: auto;
	margin-top: -20%;
	margin-left: 1.98%;
    -webkit-animation: mymove 2s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 2s infinite;
}


.form-group input{
	font-family: GOTHICB;
	border-radius: 5px;
	position: relative;
	background-color: #B4B5B5;
	opacity: 0.8;
	color: white;
}


#first{
	float: left;
	width: 25%;
	margin: 12% 1% 2% 3%;
	position: relative;
}
#last{
	float: left;
	width: 25%;
	margin: 12% 3% 2% 2%;
	position: relative;
}
#user{
	float: left;
	width: 53%;
	margin: 1% 3% 2% 3%;
	position: relative;
}
#email{
	float: left;
	width: 53%;
	margin: 1% 3% 2% 3%;
	position: relative;
}
#phone{
	float: left;
	width: 30%;
	margin: 1% 3% 2% 3%;
	position: relative;
}



h1 {
	font-family: GOTHICB;
	position: absolute;
	margin: 5% 0% 5% 45%;
	text-align: center;
	color: #ffffff;
	font-weight: 300;
}


input, textarea {
	font-family: GOTHIC;
	font-size: 22px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 12px 10px;
	background: none;
	background-image: none;
	background-color: #B4B5B5;
	background-opacity: 0.8;
	border: 1px solid #a0b3b0;
	color: #FFFFFF;
	border-radius: 0;
	-webkit-transition: border-color .25s ease, box-shadow .25s ease;
	transition: border-color .25s ease, box-shadow .25s ease;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
::-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}
:placeholder-shown {
	color: white;
}

input:focus, textarea:focus {
	outline: 0;
	border-color: #2A293B;
}

textarea {
  border: 2px solid #FFFFFF;
  resize: vertical;
}

.button {
	font-family: GOTHICB;
	border-radius: 5px;
	outline: none;
	border: 0;
	padding: 15px 0;
	margin: -18.5% 0% 0% 110%;
	font-size: 2rem;
	font-weight: 40%;
	text-transform: uppercase;
	letter-spacing: .1em;
	background: #F39700;
	color: #ffffff;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button:hover, .button:focus {
	background: #EB6000;
}

.button-block {
	display: block;
	width: 67%; /*botton size*/
}


/****** 適應性設計 ******/
@media only screen and (max-width: 1185px) {










}
